:root {
  --primary-color: #00c2ff;
  --hover-blue: #0056b3;
  --dark-bg: #1f1f1f;
  --white: #ffffff;

  --font-md: 16px;
  --font-sm: 14px;

  --btn-padding-small: 15px;
  --btn-padding-large: 30px;

  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --radius-lg: 25px;
}
